DEPLOY_HOST=manager1
SSH_USER=root
SSH_PORT=22

STACK_NAME=salesforce-pro-multi
DEPLOY_PATH=/opt/stacks/salesforce-pro
STACK_FILE=/home/ubuntu/apps/salesforce-pro/docker-compose.swarm.yml
REMOTE_STACK_FILE=/opt/stacks/salesforce-pro/docker-compose.swarm.yml
REMOTE_ENV_FILE=/opt/stacks/salesforce-pro/.env.stack

IMAGE_REPO=ghcr.io/andretelesbrz/salesforce-pro
BRANCH=main
WORKFLOW_FILE=docker-publish.yml